.btn {
  display: block;
  padding: 0.7rem 2rem;
  border-radius: 4rem;
  margin: 0 auto;
}

.btn.blue {
  margin-top: 1rem;
  background: #134a8c;
  color: hsl(0, 0%, 100%);
  padding: 1rem;
  border: 1px solid #134a8c;
  transition: 0.5s ease;
  font-weight: bold;
  font-size: 1.3rem;
  width: 30rem;
  height: 4rem;
  text-align: center;
  margin-bottom: 1rem;
}
.btn.blue:hover {
  background: #103e76;
  color: hsl(0, 0%, 100%);
  border: 1px solid #103e76;
}

.btn.white {
  margin-top: 0.5rem;
  background: hsl(0, 0%, 100%);
  padding: 1rem;
  color: #134a8c;
  border: 1px solid hsl(0, 0%, 100%);
  transition: 0.5s ease;
  width: 30rem;
  font-weight: bold;
  font-size: 1.3rem;
  height: 4rem;
  text-align: center;
}
.btn.white:hover {
  background: #103e76;
  color: hsl(0, 0%, 100%);
  border: 1px solid hsl(0, 0%, 100%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: hsl(0, 0%, 18%);
}

ul {
  list-style: none;
}

p {
  font-family: "Segoe UI", sans-serif;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 10rem;
}

body {
  font-size: 1.6rem;
  position: relative;
  overflow-x: hidden;
  font-family: "Segoe UI", Tahoma, "Geneva", Verdana, sans-serif;
}

.container {
  width: 100%;
  max-width: 140rem;
  margin: 0 auto;
  padding: 1.5rem;
}

.text--dark {
  color: hsl(0, 0%, 18%);
}

.bg--dark {
  background: hsl(0, 0%, 18%);
}

.text--light {
  color: hsl(0, 0%, 100%);
}

.bg--light {
  background: hsl(0, 0%, 100%);
}

.text--cyan {
  color: hsl(176, 80%, 40%);
}

.bg--cyan {
  background: hsl(176, 80%, 40%);
}

.text--green {
  color: hsl(179, 43%, 66%);
}

.bg--green {
  background: hsl(179, 43%, 66%);
}

.text--gray {
  color: hsl(0, 0%, 45%);
}

.bg--gray {
  background: hsl(0, 0%, 45%);
}

.text--l-gray {
  color: hsl(132, 26%, 96%);
}

.bg--l-gray {
  background: hsl(132, 26%, 96%);
}

.text--blue {
  color: #134a8c;
}

.bg--blue {
  background: #134a8c;
}

.text--d-blue {
  color: hsl(209, 51%, 18%);
}

.bg--d-blue {
  background: hsl(209, 51%, 18%);
}

.text--l-blue {
  color: hsl(209, 30%, 27%);
}

.bg--l-blue {
  background: hsl(209, 30%, 27%);
}

.mr--0 {
  margin-right: 0rem;
}

.mx--0 {
  margin: 0 0rem;
}

.mr--1 {
  margin-right: 1rem;
}

.mx--1 {
  margin: 0 1rem;
}

.mr--2 {
  margin-right: 2rem;
}

.mx--2 {
  margin: 0 2rem;
}

.mr--3 {
  margin-right: 3rem;
}

.mx--3 {
  margin: 0 3rem;
}

.mr--4 {
  margin-right: 4rem;
}

.mx--4 {
  margin: 0 4rem;
}

.mr--5 {
  margin-right: 5rem;
}

.mx--5 {
  margin: 0 5rem;
}

.mr--6 {
  margin-right: 6rem;
}

.mx--6 {
  margin: 0 6rem;
}

.mr--7 {
  margin-right: 7rem;
}

.mx--7 {
  margin: 0 7rem;
}

.mr--8 {
  margin-right: 8rem;
}

.mx--8 {
  margin: 0 8rem;
}

.mr--9 {
  margin-right: 9rem;
}

.mx--9 {
  margin: 0 9rem;
}

.mr--10 {
  margin-right: 10rem;
}

.mx--10 {
  margin: 0 10rem;
}

.mr--11 {
  margin-right: 11rem;
}

.mx--11 {
  margin: 0 11rem;
}

.mr--12 {
  margin-right: 12rem;
}

.mx--12 {
  margin: 0 12rem;
}

.mr--13 {
  margin-right: 13rem;
}

.mx--13 {
  margin: 0 13rem;
}

.mr--14 {
  margin-right: 14rem;
}

.mx--14 {
  margin: 0 14rem;
}

.mr--15 {
  margin-right: 15rem;
}

.mx--15 {
  margin: 0 15rem;
}

.mr--16 {
  margin-right: 16rem;
}

.mx--16 {
  margin: 0 16rem;
}

.mr--17 {
  margin-right: 17rem;
}

.mx--17 {
  margin: 0 17rem;
}

.mr--18 {
  margin-right: 18rem;
}

.mx--18 {
  margin: 0 18rem;
}

.mr--19 {
  margin-right: 19rem;
}

.mx--19 {
  margin: 0 19rem;
}

.mr--20 {
  margin-right: 20rem;
}

.mx--20 {
  margin: 0 20rem;
}

.d--flex {
  display: flex;
}

.d--block {
  display: block;
}

.d--grid {
  display: grid;
}

.d--inline-flex {
  display: inline-flex;
}

.d--inline-block {
  display: inline-block;
}

.d--inline {
  display: inline;
}

.d--table {
  display: table;
}

.d--none {
  display: none;
}

.text--key {
  align-items: center;
}

.text--key {
  align-items: space-between;
}

.footer {
  background: #134a8c;
  text-align: center;
  padding: 4rem 0;
}
.footer__nav ul li {
  margin-bottom: 3rem;
}
.footer__nav ul li a {
  color: hsl(0, 0%, 100%);
}
.footer p {
  color: hsl(0, 0%, 100%);
  font-size: 1.4rem;
  margin: 2.5rem 0 3rem 0;
}
.footer__social ul {
  display: flex;
  justify-content: center;
  gap: 3rem;
}
.footer__social ul li a {
  font-size: 3rem;
  color: hsl(0, 0%, 100%);
}
@media screen and (min-width: 1080px) {
  .footer__nav {
    display: flex;
    justify-content: center;
  }
  .footer__nav ul {
    display: flex;
    align-items: center;
  }
  .footer__nav ul li {
    margin-bottom: 0;
    margin-right: 2rem;
  }
  .footer__nav ul li a {
    font-size: 1.5rem;
  }
  .footer__nav .btn.white {
    padding: 1rem 5rem;
    width: -moz-fit-content;
    width: fit-content;
  }
}

.header {
  position: relative;
  position: fixed;
  width: 100%;
  background: transparent;
  z-index: 1;
}
.header.blue {
  background: #134a8c;
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.1);
  transition: 0.5s ease;
}
.header.blue ul li a:hover {
  color: hsl(0, 0%, 100%);
}
.header .branding img {
  width: 20rem;
}
.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__button {
  display: flex;
  justify-content: center;
}
.header__button .btn {
  padding: 0.7rem 2rem;
  border-radius: 4rem;
}
.header__button .btn.plan {
  margin-top: 0.5rem;
  background: #134a8c;
  color: hsl(0, 0%, 100%);
  border: 1px solid #134a8c;
  transition: 0.5s ease;
  font-weight: 600;
  font-size: 1.5rem;
  width: 45rem;
  height: 4.5rem;
  text-align: center;
}
.header__button .btn.plan:hover {
  background: #103e76;
  color: hsl(0, 0%, 100%);
  border: 1px solid #103e76;
}
.header__mobile {
  display: block;
  background: hsl(0, 0%, 100%);
  position: absolute;
  top: 0;
  padding-top: 15rem;
  right: -100rem;
  height: 100vh;
  width: 100%;
  transition: 0.5s ease;
}
.header__mobile ul {
  display: block;
  text-align: center;
}
.header__mobile ul li {
  font-size: 1.5rem;
  padding: 1.5rem;
  font-weight: bold;
}
.header__mobile ul li a {
  color: hsl(0, 0%, 18%);
  margin: 0 2rem;
  transition: 0.5s ease;
}
.header__mobile ul li a:hover {
  color: #134a8c;
  transition: 0.5s ease;
}
.header__mobile ul li .menu i {
  margin-left: 25rem;
}
.header__mobile.open {
  right: 0;
  transition: 0.5s ease;
}
.header .toggle__menu {
  display: block;
  right: 0;
}
.header .toggle__menu span {
  width: 2rem;
  height: 0.2rem;
  background-color: hsl(0, 0%, 100%);
  display: block;
  border-radius: 5rem;
  transition: 0.5s ease;
}
.header .toggle__menu span:nth-child(2) {
  margin: 0.5rem 0;
}
.header .toggle__menu.open span:first-child {
  background-color: gray;
  transform: translate(0, 8px) rotate(225deg);
  transition: 0.5s ease;
}
.header .toggle__menu.open span:nth-child(2) {
  opacity: 0;
  transition: 0.5s ease;
}
.header .toggle__menu.open span:last-child {
  background-color: gray;
  transform: translate(0, -6px) rotate(-225deg);
  transition: 0.5s ease;
}
.header__desktop {
  display: none;
}
@media screen and (min-width: 1080px) {
  .header__mobile {
    display: none;
  }
  .header__desktop {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .header__desktop ul {
    display: flex;
    gap: 1rem;
  }
  .header__desktop ul li a {
    font-weight: 600;
    color: hsl(0, 0%, 100%);
    margin: 0 2rem;
    transition: 0.5s ease;
  }
  .header__desktop ul li a:hover {
    color: #134a8c;
    transition: 0.5s ease;
  }
  .header__button .btn.plan {
    width: -moz-fit-content;
    width: fit-content;
    padding: 1rem;
  }
  .header .toggle__menu {
    display: none;
  }
}

.banner {
  padding-top: 8rem;
  position: relative;
  background-image: url(/img/banner_home_v1.jpg);
  background-size: cover;
  min-height: 100vh;
  box-shadow: 5px 0 20px rgba(0, 0, 0, 0.1);
}
.banner__wrapper {
  padding-top: 19.5rem;
}
.banner__text h1 {
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
  line-height: 3.8rem;
  color: hsl(0, 0%, 100%);
}
.banner__text p {
  margin: 1rem 0;
  font-weight: 600;
  text-align: center;
  color: hsl(0, 0%, 100%);
}
.banner__icons {
  gap: 3rem;
  justify-content: center;
}
.banner__icons i {
  color: hsl(0, 0%, 100%);
  font-size: 2rem;
  padding: 2rem 0;
}
.banner__button {
  margin: 2rem 0;
}
.banner__faq {
  position: absolute;
  width: 100%;
  bottom: 0;
  background: hsl(0, 0%, 100%);
  text-align: center;
  padding: 1rem 0;
}
.banner__faq .faq__text a {
  font-size: 1.5rem;
  font-weight: 600;
}
.banner__faq .faq__text a:hover {
  color: #103e76;
}
.banner__faq .faq__text a:hover i {
  transform: translateX(10px);
  transition: 0.5s ease;
}
.banner__faq .faq__text a i {
  margin-left: 2rem;
}
@media screen and (min-width: 1080px) {
  .banner__wrapper {
    display: block;
  }
  .banner__text h1 {
    max-width: 75rem;
    text-align: left;
    font-size: 5rem;
    line-height: 7rem;
    margin-bottom: 5rem;
  }
  .banner__text p {
    text-align: left;
    margin: 3rem 0;
    max-width: 65rem;
    line-height: 2rem;
  }
  .banner__button {
    display: flex;
    gap: 2rem;
  }
  .banner__button .btn {
    margin: 0;
  }
  .banner__button .btn.white {
    width: -moz-fit-content;
    width: fit-content;
  }
  .banner__button .btn.blue {
    width: -moz-fit-content;
    width: fit-content;
  }
  .banner__icons {
    justify-content: unset;
  }
  .banner__icons i {
    font-size: 3rem;
  }
  .banner__faq {
    position: absolute;
    background: hsl(0, 0%, 100%);
    width: 20%;
    border-radius: 5rem 0 0 0;
    bottom: 0;
    right: 0;
  }
  .banner__faq .faq__text {
    max-width: 150rem;
    margin: 0 auto;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .banner__faq .faq__text a {
    font-size: 1.5rem;
    font-weight: 700;
  }
  .banner__faq .faq__text a:hover {
    color: #134a8c;
  }
  .banner__faq .faq__text a i {
    margin-left: 1.5rem;
  }
}

.offer__title h1 {
  margin: 4rem 0;
  font-size: 4rem;
  text-align: center;
  color: #134a8c;
}
.offer__text p {
  text-align: justify;
  line-height: 2rem;
  margin: 1rem 0;
}
.offer__button {
  margin-top: 3rem;
}
.offer__button .btn.blue {
  margin: 0 auto;
  width: 45rem;
  height: 4rem;
}
.offer__policy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5rem 0;
}
.offer__policy h3 {
  text-align: center;
  font-size: 4rem;
  color: #DC8928;
}
.offer__policy__content {
  display: flex;
  margin-left: 5rem;
  justify-content: center;
  gap: 0.5rem;
  align-items: start;
}
.offer__policy__content .at {
  font-size: 3rem;
  color: #134a8c;
  font-weight: 700;
}
.offer__policy__content .no {
  font-size: 15rem;
  color: #134a8c;
  font-weight: bold;
  line-height: 0.7;
}
.offer__policy__content .span {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.offer__policy__content .span span {
  color: #134a8c;
}
.offer__policy__content .span span:first-child {
  font-size: 8rem;
  line-height: 0.9;
  font-weight: bold;
}
.offer__policy__content .span span:last-child {
  color: #DC8928;
  font-size: 3rem;
  max-width: 20%;
  font-weight: 700;
}
@media screen and (min-width: 1080px) {
  .offer {
    padding-top: 8rem;
  }
  .offer__title {
    display: flex;
    align-items: start;
  }
  .offer__title h1 {
    font-size: 5rem;
    text-align: left;
    color: #134a8c;
  }
  .offer__wrapper {
    display: grid;
    grid-template-columns: 2fr 2fr;
    margin-bottom: 5rem;
  }
  .offer__button .btn.blue {
    width: -moz-fit-content;
    width: fit-content;
    margin: 0;
  }
  .offer__text a {
    padding: 1.5rem 2rem;
    width: -moz-fit-content;
    width: fit-content;
    margin: 5rem 0 3rem 0;
  }
  .offer__text p {
    font-size: 2rem;
  }
  .offer__policy {
    margin: 0;
    justify-content: unset;
  }
  .offer__policy h3 {
    font-size: 5rem;
  }
  .offer__policy__content .at {
    font-size: 5rem;
  }
  .offer__policy__content .no {
    font-size: 15rem;
  }
  .offer__policy__content .span span:first-child {
    font-size: 5rem;
  }
  .offer__policy__content .span span:last-child {
    font-size: 3rem;
  }
}

.contact {
  position: relative;
  background: #134a8c;
}
.contact i {
  display: none;
}
.contact__text {
  color: hsl(0, 0%, 100%);
}
.contact__text h2 {
  font-size: 3.5rem;
  text-align: center;
  margin: 5rem 0;
}
.contact__text p {
  margin: 2rem 0;
  text-align: justify;
  font-weight: 600;
}
.contact__button {
  margin: 3rem 0;
}
.contact__button .btn.white {
  width: 45rem;
  height: 4rem;
}
.contact__image {
  display: none;
}
@media screen and (min-width: 1080px) {
  .contact {
    display: grid;
    position: relative;
    grid-template-columns: 1.5fr 2fr;
    min-height: 50vh;
    background-image: url("../img/different_img.jpg");
    background-size: auto;
    background-repeat: no-repeat;
  }
  .contact__wrapper {
    position: absolute;
    right: 10rem;
    max-width: 70rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contact i {
    position: absolute;
    display: unset;
    font-size: 10rem;
    top: 19rem;
    left: 82rem;
    color: #134a8c;
  }
  .contact a {
    padding: 1.5rem 2rem;
    width: -moz-fit-content;
    width: fit-content;
  }
}

.recommend {
  padding: 5rem 0;
  background: #FBF3E9;
}
.recommend__title {
  text-align: center;
}
.recommend__title h1 {
  font-size: 3.5rem;
  color: #134a8c;
}
.recommend__title p {
  color: #414141;
  font-weight: 500;
  margin: 5rem 0;
}
.recommend__btn {
  text-align: center;
}
.recommend__btn ul li a {
  width: 100%;
  padding: 1.5rem 0;
  margin-bottom: 1.5rem;
}
.recommend__btn ul li:last-child a {
  border: 2px solid #134a8c;
}
@media screen and (min-width: 1080px) {
  .recommend__title {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .recommend__title h1 {
    font-size: 5rem;
    max-width: 40%;
  }
  .recommend__title p {
    font-size: 1.7rem;
  }
  .recommend__btn {
    display: flex;
    justify-content: center;
  }
  .recommend__btn ul {
    display: flex;
  }
  .recommend__btn ul li {
    margin-right: 2rem;
  }
  .recommend__btn ul li a {
    min-width: 35rem;
    padding: 1.5rem 2rem;
    margin-bottom: 1.5rem;
  }
  .recommend__btn ul li:last-child a {
    border: 2px solid #134a8c;
  }
}/*# sourceMappingURL=main.css.map */