.header {
    position: relative;
    position: fixed;
    width: 100%;
    background: transparent;
    z-index: 1;

    &.blue {
        background: $clr-blue;
        box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.1);
        transition: .5s ease;
        ul {
            li {
                a {
                    &:hover {
                        color: $clr-light;
                        
                    }
                }
            }
        }
    }

    .branding {
        img {
            width: 20rem;
        }
    }

    &__wrapper {

        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__button {
        display: flex;
        justify-content: center;

        .btn {

            padding: .7rem 2rem;
            border-radius: 4rem;

        }

        .btn.plan {
            margin-top: .5rem;
            background: $clr-blue;
            color: $clr-light;
            border: 1px solid $clr-blue;
            transition: .5s ease;
            font-weight: 600;
            font-size: 1.5rem;
            width: 45rem;
            height: 4.5rem;
            text-align: center;


            &:hover {
                background: #103e76;
                color: $clr-light;
                border: 1px solid #103e76;
            }
        }

    }

    &__mobile {
        display: block;
        background: $clr-light;
        position: absolute;
        top: 0;
        padding-top: 15rem;
        right: -100rem;
        height: 100vh;
        width: 100%;
        transition: .5s ease;


        ul {
            display: block;
            text-align: center;

            li {
                font-size: 1.5rem;
                padding: 1.5rem;
                font-weight: bold;


                a {
                    color: $clr-dark;
                    margin: 0 2rem;
                    transition: .5s ease;

                    &:hover {
                        color: #134a8c;
                        transition: .5s ease;
                    }
                }

                .menu {
                    i {
                        margin-left: 25rem;
                    }
                }
            }
        }

        &.open {
            right: 0;
            transition: .5s ease;
        }


    }

    .toggle__menu {
        display: block;
        // position: absolute;
        right: 0;

        span {
            width: 2rem;
            height: .2rem;
            background-color: $clr-light;
            display: block;
            border-radius: 5rem;
            transition: .5s ease;

            &:nth-child(2) {
                margin: .5rem 0;

            }

        }


        &.open {

            span {
                &:first-child {
                    background-color: gray;
                    transform: translate(0, 8px) rotate(225deg);
                    transition: .5s ease;
                }

                &:nth-child(2) {
                    opacity: 0;
                    transition: .5s ease;
                }

                &:last-child {
                    background-color: gray;
                    transform: translate(0, -6px) rotate(-225deg);
                    transition: .5s ease;
                }
            }
        }

    }

    &__desktop {
        display: none;
    }

    @include mediaQuery($break-lg) {
        &__mobile {
            display: none;
        }

        &__desktop {
            display: flex;
            align-items: center;
            justify-content: space-around;

            ul {
                display: flex;
                gap: 1rem;

                li {
                    a {
                        font-weight: 600;
                        color: $clr-light;
                        margin: 0 2rem;
                        transition: .5s ease;

                        &:hover {
                            color: #134a8c;
                            transition: .5s ease;
                        }
                    }
                }
            }
        }

        &__button {
            .btn.plan {
                width: fit-content;
                padding: 1rem;
            }
        }

        .toggle__menu {
            display: none;
        }
    }
}